/firmware/managed_components/78__xiaozhi-fonts/cbin/font_noto_qwen_16_4.bin filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/78__xiaozhi-fonts/cbin/font_noto_qwen_20_4.bin filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/78__xiaozhi-fonts/cbin/font_noto_qwen_30_4.bin filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/78__xiaozhi-fonts/cbin/font_puhui_common_20_4.bin filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/78__xiaozhi-fonts/cbin/font_puhui_common_30_4.bin filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/78__xiaozhi-fonts/src/font_noto_basic_30_4.c filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/78__xiaozhi-fonts/src/font_puhui_14_1.c filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/78__xiaozhi-fonts/src/font_puhui_16_4.c filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/78__xiaozhi-fonts/src/font_puhui_20_4.c filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/78__xiaozhi-fonts/src/font_puhui_30_4.c filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/78__xiaozhi-fonts/src/font_puhui_basic_30_4.c filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/78__xiaozhi-fonts/ttf/noto-qwen.ttf filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/78__xiaozhi-fonts/ttf/puhui-common.ttf filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif2022__esp_emote_assets/font/font_puhui_common_20_4.bin filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif2022__esp_emote_assets/font/font_puhui_common_30_4.bin filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif2022__esp_emote_expression/test_apps/spiffs/esp32_s3_assets.bin filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif2022__esp_emote_gfx/test_apps/main/assets/font_puhui_16_4.c filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__bmi270_sensor/5.3/esp32/libbmi270_sensor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__bmi270_sensor/5.3/esp32c2/libbmi270_sensor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__bmi270_sensor/5.3/esp32c3/libbmi270_sensor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__bmi270_sensor/5.3/esp32c6/libbmi270_sensor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__bmi270_sensor/5.3/esp32h2/libbmi270_sensor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__bmi270_sensor/5.3/esp32p4/libbmi270_sensor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__bmi270_sensor/5.3/esp32s2/libbmi270_sensor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__bmi270_sensor/5.3/esp32s3/libbmi270_sensor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__bmi270_sensor/5.4/esp32/libbmi270_sensor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__bmi270_sensor/5.4/esp32c2/libbmi270_sensor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__bmi270_sensor/5.4/esp32c3/libbmi270_sensor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__bmi270_sensor/5.4/esp32c5/libbmi270_sensor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__bmi270_sensor/5.4/esp32c6/libbmi270_sensor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__bmi270_sensor/5.4/esp32h2/libbmi270_sensor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__bmi270_sensor/5.4/esp32p4/libbmi270_sensor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__bmi270_sensor/5.4/esp32s2/libbmi270_sensor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__bmi270_sensor/5.4/esp32s3/libbmi270_sensor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__bmi270_sensor/5.5/esp32/libbmi270_sensor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__bmi270_sensor/5.5/esp32c2/libbmi270_sensor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__bmi270_sensor/5.5/esp32c3/libbmi270_sensor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__bmi270_sensor/5.5/esp32c5/libbmi270_sensor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__bmi270_sensor/5.5/esp32c6/libbmi270_sensor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__bmi270_sensor/5.5/esp32c61/libbmi270_sensor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__bmi270_sensor/5.5/esp32h2/libbmi270_sensor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__bmi270_sensor/5.5/esp32p4/libbmi270_sensor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__bmi270_sensor/5.5/esp32s2/libbmi270_sensor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__bmi270_sensor/5.5/esp32s3/libbmi270_sensor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/esp-tts/esp_tts_chinese/esp32/libesp_tts_chinese.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/esp-tts/esp_tts_chinese/esp32/libvoice_set_xiaole.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/esp-tts/esp_tts_chinese/esp32c3/libesp_tts_chinese.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/esp-tts/esp_tts_chinese/esp32c3/libvoice_set_xiaole.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/esp-tts/esp_tts_chinese/esp32c5/libesp_tts_chinese.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/esp-tts/esp_tts_chinese/esp32c5/libvoice_set_xiaole.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/esp-tts/esp_tts_chinese/esp32c6/libesp_tts_chinese.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/esp-tts/esp_tts_chinese/esp32c6/libvoice_set_xiaole.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/esp-tts/esp_tts_chinese/esp32p4/libesp_tts_chinese.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/esp-tts/esp_tts_chinese/esp32p4/libvoice_set_xiaole.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/esp-tts/esp_tts_chinese/esp32s2/libesp_tts_chinese.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/esp-tts/esp_tts_chinese/esp32s2/libvoice_set_xiaole.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/esp-tts/esp_tts_chinese/esp32s3/libesp_tts_chinese.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/esp-tts/esp_tts_chinese/esp32s3/libvoice_set_xiaole.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/esp-tts/esp_tts_chinese/esp_tts_voice_data_xiaole.dat filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/esp-tts/esp_tts_chinese/esp_tts_voice_data_xiaoxin.dat filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/esp-tts/esp_tts_chinese/esp_tts_voice_data_xiaoxin_custom.dat filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/esp-tts/esp_tts_chinese/esp_tts_voice_data_xiaoxin_small.dat filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32/libdl_lib.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32/libesp_audio_processor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32/libflite_g2p.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32/libmultinet2_ch.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32/libwakeword_model.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32c3/libdl_lib.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32c3/libesp_audio_processor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32c3/libflite_g2p.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32c3/libmultinet.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32c5/libdl_lib.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32c5/libesp_audio_processor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32c5/libflite_g2p.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32c5/libmultinet.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32c6/libdl_lib.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32c6/libesp_audio_processor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32c6/libflite_g2p.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32c6/libmultinet.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32p4/libdl_lib.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32p4/libesp_audio_processor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32p4/libflite_g2p.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32p4/libmultinet.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32p4_eco5/libdl_lib.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32p4_eco5/libesp_audio_processor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32p4_eco5/libflite_g2p.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32p4_eco5/libmultinet.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32s2/libdl_lib.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32s2/libesp_audio_processor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32s2/libflite_g2p.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32s3/libdl_lib.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32s3/libesp_audio_processor.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32s3/libflite_g2p.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/lib/esp32s3/libmultinet.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/model/multinet_model/mn3_cn/mn3cn_data filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/model/multinet_model/mn4_cn/mn4_cn_data filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/model/multinet_model/mn4cn/mn4cn_data filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/model/multinet_model/mn5q8_cn/mn5q8_data filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/model/multinet_model/mn5q8_en/mn5q8_data filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/model/multinet_model/mn6_cn/mn6_data filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/model/multinet_model/mn6_cn_ac/mn6_data filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/model/multinet_model/mn6_en/mn6_data filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/model/multinet_model/mn7_cn/mn7_data filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/model/multinet_model/mn7_cn_ac/mn7_data filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/model/multinet_model/mn7_en/mn7_data filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/model/wakenet_model/wn7_xiaoaitongxue/wn7_data filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/model/wakenet_model/wn8_alexa/wn8_data filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/model/wakenet_model/wn8_hiesp/wn8_data filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp-sr/model/wakenet_model/wn8_hilexin/wn8_data filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp_audio_codec/lib/esp32/libesp_audio_codec.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp_audio_codec/lib/esp32c2/libesp_audio_codec.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp_audio_codec/lib/esp32c3/libesp_audio_codec.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp_audio_codec/lib/esp32c5/libesp_audio_codec.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp_audio_codec/lib/esp32c6/libesp_audio_codec.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp_audio_codec/lib/esp32h4/libesp_audio_codec.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp_audio_codec/lib/esp32p4/libesp_audio_codec.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp_audio_codec/lib/esp32s2/libesp_audio_codec.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp_audio_codec/lib/esp32s3/libesp_audio_codec.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp_audio_codec/test_apps/audio_codec_test/main/test.flac filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp_audio_effects/example/esp_audio_effects_demo/main/manen_48000_2_24_10.pcm filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp_new_jpeg/lib/esp32/libesp_new_jpeg.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp_new_jpeg/lib/esp32c2/libesp_new_jpeg.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp_new_jpeg/lib/esp32c3/libesp_new_jpeg.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp_new_jpeg/lib/esp32c5/libesp_new_jpeg.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp_new_jpeg/lib/esp32c6/libesp_new_jpeg.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp_new_jpeg/lib/esp32p4/libesp_new_jpeg.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp_new_jpeg/lib/esp32s2/libesp_new_jpeg.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/espressif__esp_new_jpeg/lib/esp32s3/libesp_new_jpeg.a filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/lvgl__lvgl/demos/music/assets/img_lv_demo_music_cover_1_large.c filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/lvgl__lvgl/demos/music/assets/img_lv_demo_music_cover_2_large.c filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/lvgl__lvgl/demos/music/assets/img_lv_demo_music_cover_3_large.c filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/lvgl__lvgl/demos/music/screenshot1.gif filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/lvgl__lvgl/demos/widgets/screenshot1.gif filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/lvgl__lvgl/docs/_obsolete/js_widgets_demo.gif filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/lvgl__lvgl/docs/flyers/LVGL-Chinese-Flyer.pdf filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/lvgl__lvgl/env_support/cmsis-pack/LVGL.lvgl.9.5.0.pack filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/lvgl__lvgl/examples/libs/ffmpeg/birds.mp4 filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/lvgl__lvgl/examples/libs/gltf/webp_diffuse_transmission_plant.glb filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/lvgl__lvgl/examples/libs/tiny_ttf/ubuntu_font.c filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/lvgl__lvgl/scripts/built_in_font/SourceHanSansSC-Normal.otf filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/lvgl__lvgl/src/font/lv_font_source_han_sans_sc_14_cjk.c filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/lvgl__lvgl/src/font/lv_font_source_han_sans_sc_16_cjk.c filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/lvgl__lvgl/tests/src/test_assets/test_ubuntu_font.c filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/lvgl__lvgl/tests/src/test_assets/test_video_birds.mp4 filter=lfs diff=lfs merge=lfs -text
/firmware/managed_components/lvgl__lvgl/tests/src/test_files/fonts/noto/NotoSansSC-Regular.ttf filter=lfs diff=lfs merge=lfs -text
