.DS_Store
**/.DS_Store
**/node_modules/
**/__pycache__/
**/.venv/
**/*.pyc

deploy/runtime/logs/
deploy/runtime/voiceprint-samples/
deploy/runtime/xiaozhi-manager/mysql/
deploy/runtime/xiaozhi-manager/uploadfile/
deploy/runtime/xiaozhi-server/models/
deploy/runtime/xiaozhi-server/data/bin/
deploy/runtime/xiaozhi-server/data/.config.yaml
deploy/runtime/xiaozhi-server/data/.wakeup_words.yaml

deploy/xiaozhi-esp32/build/
deploy/xiaozhi-esp32/releases/
deploy/xiaozhi-esp32/managed_components/

deploy/xiaozhi-esp32-server/main/xiaozhi-server/models/
deploy/xiaozhi-esp32-server/main/xiaozhi-server/music/
deploy/xiaozhi-esp32-server/main/xiaozhi-server/test/resources/
deploy/xiaozhi-esp32-server/main/manager-web/public/generator/static/

deploy/xiaozhi-mqtt-gateway/.env
